body {
	font-family: arial;
	background-color: #9C9BA5;
	width: 83%;
	margin: 20px auto;
}
/*eliminar el subrayado de un enlace*/

header ul li a: hover{
	background-color: #ef8358	

}

main {
	background-color: #fff;
	padding: 5px;
}

footer {
	background-color: #303030;
	color: #fff;
	padding: 35px;
}

